

/* MAIN STYLES */
.main-loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-loading > *{
    margin: 200px auto;
}



/* CSS FOR PRODUCTS */

.search-bar-container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dee2e6;
    border-bottom: solid 1px #6c757d;
}

.product-img{
    min-width: 100%;
    min-height: 300px;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.search-bar{
    width: 15%;
}

.main-container{
    display: flex;
    background-color: #dee2e6;
}

.filters-container{
    min-width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.filters-container > span{
    margin: 3px;
    font-weight: 500;
    color: #495057;
    cursor: pointer;
}

.filters-container > p{
    margin: 3px;
    font-weight: 600;
}

#checked-list{
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter{
    padding: 3px 5px;
    background-color: #ced4da;
    font-size: 11px;
    border-radius: 3%; 
}

.products-container{
   display: flex;
   flex-wrap: wrap
}

.products-container > *{
    margin: 8px;
}

/* READ PRODUCT */

.read-container{
    display: flex;
}

.read-container > *{
    margin: 8px;
}

.read-card{
    background-color: #dee2e6;
    border-radius: 2%;
    padding: 10px;
    width: 30vw;
}

/* CSS FOR NOT FOUND PAGE  */

.not-found-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.not-found-main > *{
    padding: 10px;
}

.not-found-main > p{
    font-size: 4em;
}

.question-sign{
    height: 400px;
}

